{% extends 'main/base.html' %}
{% load static %}
{% block h1 %}
{{user.get_username}}
{% endblock h1 %}
{% load crispy_forms_tags %}
{% block title %}
My account
{% endblock title %}

{% block content %}
<div class="container d-flex flex-column justify-content-center">
    <img class="img-thumbnail" src="/{{image}}" alt="najwiekszy polak w polsce">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-info text-black fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Edytuj Dane konta
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <form enctype="multipart/form-data"  method="POST">
                  {% csrf_token %}
                  {{avatar_form | crispy}}
                  <button class="btn btn-primary" name="avatar_button" type="submit">Update</button>
              </form>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-warning text-black fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Zmień Hasło
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <form method="post">
                {% csrf_token %}
                {{edit_form | crispy}}
                <button type="submit" name="edit_password" class="btn btn-warning">Change!</button>
              </form>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-danger text-black fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Usuń konto
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <form method="post">
                {% csrf_token %}
                {{deletion_form | crispy}}
                <button type="submit" name="delete_acc" class="btn btn-danger">Delete!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}