{% extends 'main/base.html' %}


{% block title %}
    Passwords
{% endblock title %}
    
{% block h1 %}
Your passwords
{% endblock h1 %}

{% block content %}
<div id="password_container">
{% for passwd in ls %}
    <div class="item">
        <div class="item-color">{{passwd.acc_name}}</div>
        <div class="data">
            <div class="item-login">{{passwd.login}}</div>
            <div class="item-buttons">
                <button class="cp_login" id="btn-login{{passwd.id}}" onClick="copy_login('btn-login{{passwd.id}}','{{passwd.login}}')">Copy Login</button>
                <a href="/{{passwd.id}}"><button class="lower_btn">Password</button></a>
            </div>
        </div>
        
    </div>
{% endfor %}
</div>
{% endblock content %}