{% extends 'main/base.html' %}


{% block title %}
    Passwords
{% endblock title %}
    
{% block h1 %}
Your passwords
<div class="position-fixed wd-100 z-1 end-0">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        Navigate
      </button>
    </div>
{% endblock h1 %}

{% block content %}
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Navigation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
                <div class="list-group" >
                        {% for list in ls %}
                        <a href="#{{list.id}}" onClick="closeOffcanvas(event)" class="list-group-item list-group-item-action list-group-item-primary">{{list.acc_name}}</a>
                        {%endfor%}                    
                </div>
        </div>
    </div>
<div class="container-md d-flex flex-row mb-3 mt-5 justify-content-center flex-wrap ">
    {% if len == 0 %}
        <div class="container-fluid d-flex text-white flex-column text-center align-items-center">
            <h2>Looks like u don't have any passwords here.</h2>
            <a href="/add_new" class="btn btn-light w-50 mt-4">Let's change that!</a>
        </div>
        
    {% endif %}

{% for passwd in ls %}
        <div class="card text-center m-3" id="{{passwd.id}}" style="width:20rem;">
            <div class="item-login bg-primary-subtle p-5">
                <div class="data d-flex flex-column">
                    <div class="name fs-1 fw-bold text-white">{{passwd.acc_name}}</div>
                    <div class="login fs-2">{{passwd.login}}</div>
                </div>
            </div>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button class="btn btn-primary p-3" id="btn-login{{passwd.id}}" onClick="copy('btn-login{{passwd.id}}','{{passwd.login}}','login')">Copy Login</button>
                <a href="/{{passwd.id}}" class="btn btn-secondary p-3">Password</a>
            </div>
        </div>
{% endfor %}
</div>
</div>
</div>
{% endblock content %}

{% comment %} <div class="item">
    <div class="item-color"><div class="txt">{{passwd.acc_name}}</div></div>
    <div class="data">
        <div class="item-login">{{passwd.login}}</div>
        <div class="item-buttons">
            <button class="cp_login" id="btn-login{{passwd.id}}" onClick="copy_login('btn-login{{passwd.id}}','{{passwd.login}}')">Copy Login</button>
            <a href="/{{passwd.id}}"><button class="lower_btn">Password</button></a>
        </div>
    </div>
    
</div> {% endcomment %}