{% extends 'main/base.html' %}


{% block title %}
    Your password
{% endblock title %}
    
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="card text-center m-3 border-dark" id="{{passwd.id}}" style="width:26rem;">
        <div class="item-login bg-primary-subtle p-5 fs-1 fw-bold text-white">
            <div class="data d-flex flex-column">
                <div class="name fs-1 fw-bold text-white">{{acc_from_db.acc_name}}</div>
                <div class="login fs-2">{{acc_from_db.login}}</div>
                {% if acc_from_db.url != "1" %}
                <div class="url fw-normal fs-5">Go to <a href="https://{{acc_from_db.url}}">URL</a></div>
                {% endif %}
            </div>
        </div>
        <div class="btn-group-vertical bg-dark"  role="group" aria-label="Vertical button group">
            <button class="btn btn-primary p-3" id="btn-login{{acc_from_db.id}}" onClick="copy('btn-login{{acc_from_db.id}}','{{acc_from_db.login}}','login')">Copy Login</button>
                <button class="btn btn-success p-3" id="btn-passwd{{acc_from_db.id}}" onClick="copy('btn-passwd{{acc_from_db.id}}',`{{acc_from_db.password}}`,'password')">Copy Pasword</button>
                <button class="btn btn-danger p-3" id="btn-passwd{{acc_from_db.id}}_2" onClick="reveal('btn-passwd{{acc_from_db.id}}_2',`{{acc_from_db.password}}`)">Reveal Password</button>
            </div>
        </div>
</div>
<div class="container-fluid d-flex flex-column justify-content-center text-white" style="width: 28rem;">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed text-white bg-secondary text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <span class="text-center fs-4">Edit</span>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body d-flex justify-content-center" >
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{edit_form | crispy}}
                        <button type="submit" name="update" class="btn btn-success float-end">Update</button>
                    
                    </form>
                </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed text-black bg-danger text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <span class="text-center fs-4">Delete</span>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body d-flex justify-content-center" >
                  <form method="POST" class="form-group">
                      {% csrf_token %}
                      {{delete_form | crispy}}
                          <button type="submit" name="delete" class="btn btn-danger float-end">Delete</button>
                      </form>
                  </div>
            </div>
          </div>
    </div>
        </div>
    </div>


{% endblock content %}