{% extends 'main/base.html' %}

{% block title %}
Login
{% endblock title %}

{% block h1 %}
Login
{% endblock h1 %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-md">
{% if not user.is_authenticated %}
<form method="POST" class="form-group text-white fs-2">
    {% csrf_token %}
    {{form | crispy}}
    <button type="submit" class="btn btn-success">Login</button>
    <a href="/register/"><p>I don't have an account</p></a>
</form>
{% else %}
<p>ur logged in already</p>
{% endif %}
</div>
{% endblock content %}