* {
  margin: 0;
  padding: 0;
}
.form-text {
  color: white;
}
body {
  color: white;
  background-color: #161c26;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  header {
    background-color: navy;
    color: white;
    display: flex;
    padding: 0.5em 0 0.5em 0;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      gap: 2em;
      .item-box {
        display: flex;
        gap: 2em;
      }
    }
    .right {
      display: flex;
      .btn {
        color: white;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 5px;
        }
      }
    }
  }
}
// @media (max-width: 552px) {
//   header {
//     flex-direction: row;
//     width: 100%;
//     justify-content: space-between;
//     .left {
//       margin-left: 5px;
//     }
//     .right {
//       display: flex;
//       flex-direction: column;
//       gap: 1em;
//       .btn {
//         color: white;
//         &:hover {
//           color: aqua;

//         }
//       }
//     }
//   }
// }
main {
  color: white;
  h1 {
    text-align: center;
    padding-top: 1em;
  }
  .content {
    padding: 1em;
    #password_container {
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
      justify-content: space-evenly;
      .item {
        width: 14em;
        display: flex;
        flex-direction: column;
        .item-color {
          text-align: center;
          color: white;
          font-size: 1.5em;
          padding: 1em;
          background-color: #17819f;
          border-top-left-radius: 1em;
          border-top-right-radius: 1em;
        }
        .data {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
          .item-login {
            text-align: center;
            font-weight: bold;
            width: 100%;
            background-color: #626d75;
            color: #bac0ce;
          }
          .item-buttons {
            display: flex;
            flex-direction: column;
            button {
              padding: 0.5em 0 0.5em 0;
              width: 100%;
              color: white;
              background-color: #2f343d;
              &.lower_btn {
                border-top: none;
                border-bottom-left-radius: 1em;
                border-bottom-right-radius: 1em;
              }
              &:focus {
                background-color: darken(#2f343d, 10%);
              }
              &:hover {
                background-color: darken(#2f343d, 5%);
              }
            }
          }
        }
      }
    }
  }

  #messages {
    border: 1px green solid;
    background-color: lightgreen;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
  }
  .toggle-password {
    text-align: right;
  }
}
footer {
  padding: 1em;
  #footnote {
    text-align: end;
  }
  #adnote {
    font-weight: bold;
    font-style: italic;
    margin-left: 0.5em;
  }
}
