{% extends 'main/base.html' %}

{% block h1 %}
Add new password
{% endblock h1 %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-md" data-bs-theme="dark">
<form method="POST" class="form-group text-white">
    {% csrf_token %}
    {{form | crispy}}
    <div class="d-flex justify-content-between flex-wrap">
      <div class="d-flex flex-column">
        <a class="btn btn-info text-white" style="width: 20em;" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Generate Password</a>
        <div class="collapse multi-collapse" id="multiCollapseExample1" style="width: 20em;">
          <div class="card card-body">
           <form>
              <div class="row">
                <div class="col">
                  <label for="customRange2" class="form-label">Length: <span id="pass-len">8</span></label>
                </div>
                <div class="col-6">
                  <input type="range" class="form-range" value="8" min="8" max="128" id="customRange2" oninput="showVal(this.value,'pass-len')">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="form-check-label" for="specialCharsSwitch">
                    @#$%^&*.
                  </label>
              </div>
                <div class="col-6">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="specialCharsSwitch" checked>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="form-check-label" for="capitalsSwitch">
                    A-Z
                  </label>
              </div>
                <div class="col-6">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="capitalsSwitch" checked>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="form-check-label" for="numbersSwitch">
                    0-9
                  </label>
              </div>
                <div class="col-6">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="numbersSwitch" checked>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a class="btn btn-success mt-2 w-100" id="generator_button" onclick="generatePassword('customRange2','specialCharsSwitch','capitalsSwitch','numbersSwitch','passwdGenerated'); copy(this.id,`${document.getElementById('passwdGenerated').innerHTML}`,'generator')">Generate</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <p id="passwdGenerated" class="text-wrap">asdsad</p>
                </div>
              </div>
           </form>
          </div>
        </div>
      </div>
    <div class="btn-right">
        <input type="checkbox" class="btn-check" id="btn-check" onChange="check()" autocomplete="off">
        <label class="btn btn-primary" id="label-check" for="btn-check">Show password</label>
        <button type="submit" name="save" class="btn btn-success m-1">Save</button>
        </div>
</div>

</form>
</div>
{% endblock content %}